body {
  font-family: "Cardo", serif;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #CF0A0A;
  margin-bottom: 10px;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

#main-header {
  margin-bottom: 30px;
}

#main-nav {
  display: none;
}

#logo-section {
  height: 42px;
  padding: 0;
  text-align: left;
}

#logo-section img {
  height: 42px;
}

@media screen and (min-width: 768px) {
  #main-header {
    margin-bottom: 50px;
  }
  #main-nav {
    display: block;
    padding: 0;
    text-align: left;
    height: 70px;
  }
  #main-nav ul {
    padding: 0;
  }
  #main-nav li {
    display: inline;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
  }
  #main-nav li {
    margin-right: 23px;
  }
  #main-nav li:last-child {
    margin-right: 0;
  }
  #main-nav ul li a {
    font-size: 25px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #CF0A0A;
  }
  #main-nav li a:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid #DC5F00;
  }
  #burger-nav {
    display: none;
  }
  #logo-section {
    height: 70px;
    text-align: right;
  }
  #logo-section img {
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #main-nav ul li a {
    font-size: 30px;
  }
}
@media screen and (min-width: 1920px) {
  #main-nav ul li a {
    font-size: 33px;
  }
}
#burger-nav {
  height: 42px;
  padding: 0;
}

#burger-nav label img {
  height: 42px;
  transition: all 0.7s ease;
  cursor: pointer;
  width: 100%;
}

#burger-nav input, #burger-con {
  display: none;
}

#burger-nav input:checked ~ #burger-con {
  display: block;
  position: absolute;
  transform: translateX(-237px);
  background-color: #CF0A0A;
  width: 320px;
}

#burger-nav input:checked ~ label img {
  transform: rotate(90deg);
}

#burger-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #DC5F00;
}

#burger-nav li a {
  display: block;
  text-decoration: none;
  padding: 15px 0 15px 0;
  text-align: center;
  color: #ffffff;
}

#burger-nav li {
  border-bottom: 1px solid #efefef;
}

#burger-nav li:first-child {
  border-top: 1px solid #efefef;
}

#burger-nav:last-child {
  margin-bottom: 10px;
}

body {
  background-color: #000000;
}

.hidden {
  display: none;
}

#info-home {
  padding: 0;
}

#info-home h2 {
  font-size: 28px;
  color: #EEEEEE;
}

.button-principles {
  border: none;
  background-color: #CF0A0A;
  color: #EEEEEE;
  width: 100%;
  height: 56px;
  font-family: "Oswald", sans-serif;
  font-size: 23px;
}

.button-principles:hover {
  background-color: #DC5F00;
  cursor: pointer;
}

#button-home {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  #main-home {
    height: 850px;
  }
  #image-home {
    padding: 0;
    width: 303px;
  }
  #info-home {
    text-align: left;
    margin-top: 50px;
  }
  #info-home h2 {
    font-size: 55px;
  }
  #button-home {
    margin-top: 70px;
    width: 452px;
    height: 94px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  #info-home {
    order: -1;
  }
  #info-home h2 {
    font-size: 60px;
  }
  #main-home {
    height: 540px;
    display: flex;
    align-items: center;
  }
  #image-home {
    text-align: left;
  }
  #image-home img {
    width: 90%;
  }
  #button-home {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1920px) {
  #main-home {
    height: 700px;
  }
  #info-home h2 {
    font-size: 71px;
  }
  #image-home {
    width: 100%;
    text-align: right;
  }
  #button-home {
    width: 500px;
    font-size: 50px;
    margin-top: 100px;
  }
}
#title-project {
  padding: 0;
}

#image-project {
  padding: 0;
}

#buttons-project-box {
  padding: 0;
  text-align: center;
}

.buttons-project {
  width: 94px;
  height: 28px;
  font-size: 17px;
}

#button-project1 {
  margin-right: 20px;
}

#text-project p {
  font-size: 14px;
  color: #EEEEEE;
}

@media screen and (min-width: 768px) {
  #title-project h2 {
    font-size: 60px;
  }
  .buttons-project {
    width: 214px;
    height: 63px;
    font-size: 40px;
  }
  #text-project p {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  #project-section div:nth-of-type(3) {
    order: 3;
  }
  #title-project h2 {
    font-size: 75px;
  }
  #image-project {
    width: 100%;
  }
  #photo-project {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  #title-project h2 {
    font-size: 100px;
  }
  #text-project p {
    font-size: 23px;
  }
  .buttons-project {
    width: 300px;
    height: 94px;
    font-size: 50px;
  }
}/*# sourceMappingURL=main.css.map */