

$primary-color: #CF0A0A;
$secondary-color: #000000;
$accent-color: #DC5F00;
$body-text-color: #EEEEEE;
$heading-font-family: 'Oswald', sans-serif;
$body-font-family: 'Cardo', serif;
$base-font-size: 18px;
$base-font-weight: 400;