@use '../abstracts/variables' as b;


#burger-nav{
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}
  
.hamburger {

	position: relative;
	display: block;
	cursor: pointer;
  	z-index: 100;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger img{
	height: 50px;
  	width: 100%;
}


.burger_menu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: b.$primary-color;
	padding-top: 120px;
	transition: 0.4s;
	list-style-type: none
}

.burger_menu.is-active {
	left: 0;
}

.burger_menu ul{
	list-style: none;
	padding: 0;
}

.burger_menu a {
    border-radius: 10px;
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 12px;
    font-size: 20px;
    font-family: b.$heading-font-family;
	background-color: b.$secondary-color;

	color: #FFF;
	text-decoration: none;
}

.burger_menu a:hover {
	background-color: b.$accent-color;
}

@media (min-width: 768px) {
	.burger_menu {
		display: none;
	}

	.hamburger {
		display: none;
	}
}
  



