@use '../abstracts/variables' as t;

body{
    background-color: t.$secondary-color;
}

.hidden{
    display: none;
}


#info-home{
    padding: 0;
}

#info-home h2{
    font-size: 30px;
    color: t.$body-text-color;
    position: relative;
    overflow: hidden;
}


h2 .hola {
    display: inline-block;
}

//button

.button-principles{
    border: none;
    background-color: t.$primary-color;
    color: t.$body-text-color;
    width: 100%;
    height: 56px;
    font-family: t.$heading-font-family;
    font-size: 23px;
}

.button-principles:hover{
    background-color: t.$accent-color;
    cursor: pointer;
}

#button-home{
    margin-top: 40px;
}

@media screen and (min-width:768px) {

    #main-home{
        height: 850px;
    }

    #image-home{
        padding: 0;
        width: 303px;
    }

    #info-home{
        text-align: left;
        margin-top: 50px;
    }

    #info-home h2{
        font-size: 54px;
    }

    #button-home{
        margin-top: 70px;
        width: 452px;
        height: 94px;
        font-size: 40px;
    }
}

@media screen and (min-width:1200px){
    #info-home{
        order: -1;
    }

    #info-home h2{
        font-size: 60px;
    }

    #main-home{
        height: 540px;
        display: flex;
        align-items: center;
     }

     #image-home{
        text-align: left;
     }

    #image-home img{
        width: 90%;
    }

    #button-home{
        margin-top: 60px;
    }
} 

@media screen and (min-width:1920px){
    #main-home{
        height: 700px;
     }

     #info-home{
        margin-right: 150px;
     }

    #info-home h2{
        font-size: 63px;
    }
    
    #image-home{
        width: 100%;
        text-align: right;
    }

    #button-home{
        width: 500px;
        font-size: 50px;
        margin-top: 200px;
    }
} 