@use '../abstracts/variables' as t;

#main-nav{
    display: none;
}

@media screen and (min-width:768px) {

    #main-nav{
        display: block;
    }

    #burger-nav{
        display: none;
    }

    #info-home{
        order: -1;
    }
}