@use '../abstracts/variables' as h;

//Main Page

.image-box-project{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
}

.image-project{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
}

.project-image-text{
    font-family: h.$heading-font-family;
    font-size: 25px;
    color: h.$body-text-color;
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%
}




//HOVER

.image-box-project:hover{

    background: rgb(146,24,24);
    background: linear-gradient(90deg, rgba(146,24,24,1) 0%, rgb(209, 63, 63) 50%, rgba(213,42,42,1) 100%);

    .image-project{
        opacity: 0.0;
    }
}

// }

.project-image-text-off{
    font-family: h.$heading-font-family;
    font-weight: lighter;
    padding: 5px;
    font-size: 14px;
    color: h.$body-text-color;
    // color: black;
    left: 0;
    position:absolute;
    text-align:center;
    top: 10%;
    width: 100%
}



.project-image-button-active{
    border: none;
    font-family: h.$heading-font-family;
    font-size: 23px;
    left: 15%;
    color: h.$body-text-color;
    position:absolute;
    text-align:center;
    top: 70%;
    width: 70%;
    background-color: h.$primary-color;
    cursor: pointer;
}

.project-image-button-active:hover{
    background-color: h.$accent-color;
    cursor: pointer;
}

.project-image-button-inactive{
    display: none;
}



// Outside link

.title-project{
    padding: 0;
}

.title-project h2{
    font-size: 60px;
}

#image-project{
    padding: 0;
}

#buttons-project-box{
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.buttons-project{
    width: 94px;
    height: 28px;
    font-size: 17px;
}

#button-project1{
    margin-right: 20px;
}

#text-project p{
    font-size: 14px;
    color: h.$body-text-color;
}

//Gallery

#gallerySection{
    background-color: red;
    height: 700px;
}









@media screen and (min-width:768px){
        
    .title-project h2{
        font-size: 75px;
    }
    .project-image-text{
        font-size: 35px;
    }

    .project-image-text-off{
        font-size: 17px;
    }

    .buttons-project{
        width: 214px;
        height: 63px;
        font-size: 40px;
    }


    #projects-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content:center;
    }



    .image-box-project{
        margin: 20px;
        width: calc(100% / 2.5);
    }


}


@media screen and (min-width:1200px){

    .title-project h2{
        font-size: 100px;
    }

    #project-main-info{
        padding-bottom: 30px;
    }
    #box-info-principal{
        padding-top: 0;
        padding-bottom: 0;
    }

      #text-project{
        margin: 0;
      }

      #text-project p{
        text-align: center;
    }

    #box-info-principal{
        margin: 0;
        display: flex;
        flex-flow: column-reverse; 
        justify-content: space-between;
    }

    #buttons-project-box{
        text-align: center;
        margin-bottom: 10px;
        margin-top: auto;
    }



    #button-project1{
        margin-right: 7px;
    }
    
    .project-image-text{
        font-size: 38px;
    }

    #image-project{
        width: 100%;
    }


    #photo-project{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .project-image-text-off{
        font-size: 18px;
        padding: 7px;
    }

    
    .image-box-project{
        margin: 0;
        width: calc(100% / 3);
    }

}

@media screen and (min-width:1920px){

    #project-title h2{
        font-size: 120px;
    }

    .project-image-text{
        font-size: 65px;
    }

    .project-image-text-off{
        font-size: 30px;
    }


    .buttons-project{
        width: 300px;
        height: 94px;
        font-size: 50px;
    } 

}






