@use '../abstracts/variables' as p;


#project-details section{
  margin-bottom: 10px;
}

#project-overview h2{
  color: black;
}




//Slide Images

.wrapper {
  display: flex;
}



//Details of project

#p-text-details{
  white-space: pre-wrap;
}

.details-box{
  background-color:  p.$primary-color;
}

#role-box{
   align-items: center;
}

.text-process h3{
   text-align: center;
   color: p.$body-text-color;
   font-family: p.$heading-font-family;
   font-size: 30px;
   text-decoration: underline;
   
}

.text-process ul{
   padding: 0;
   list-style-type: none;
   text-align: center;
   color: p.$body-text-color;

}

.text-process ul li{
  font-family: p.$heading-font-family;
   font-weight: lighter;
   margin-bottom: 6px;
   text-transform: uppercase;
}



  //GALLERY
  
.gallery-images {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  
  .gallery {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.7s ease;
    border: solid;
    border-color: p.$primary-color;
    
    &:hover{
      flex: 5;
    }
  }

  //Wireframe

  #buttons-wireframes{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #buttons-wireframes button{
    width: 200px;
  }

  .button-principles{
    margin-top: 10px;
  }


  
// Mobile Details project



#details-mobile-view{
  background:#f5f5f5;
  text-align: center;
}

.info-mobile-text{
  border:1.5px solid #121111;
  padding: 10px;
}

.info-mobile-text i{
  color:p.$primary-color;
  font-size: 30px;
  margin-bottom: 10px;
}

.info-mobile-text h3{
  font-family: p.$heading-font-family;
}

.info-mobile-text p{
  font-size: 14px;
}

.detail-box{
  display: none;
}

//Promotional Image


#image-details{
  padding: 0;
}

#still-image{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

  
  @media screen and (min-width:768px){

    
    //Top Info

    .project-section{
      padding: 0;
    }

    //Details of project

    #details-mobile-view{
      display: none;
    }
    
    .detail-box {
      display: block;
      height:260px;
      background:#f5f5f5;
      box-shadow:3px 3px 5px 3px #ac1616;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .detail-box .menu-title {
      float:left;
      width:150px;
      height:100%;
      border-right:2px solid #a11616;
      padding-top:30px;
      padding-bottom:30px;
    }
    
    
    .detail-box .details-text {
      position:relative;
      height:100%;
      overflow:hidden;
    }
    
    .detail-box .menu-title > div {
      height:50px;
      line-height:50px;
      font-size:17px;
      font-weight:600;
      font-family: p.$heading-font-family;
      text-transform: uppercase;
      color:p.$secondary-color;
      cursor:pointer;
      padding-left:10px;
    }
    
    
    .detail-box .menu-title > div:hover,
    .detail-box .menu-title > div.active {
      color:p.$primary-color;
    }
    
    #box-text {
      position:absolute;
      padding:15px 15px;
    }
    
    
    
    .details-text h3{
      font-size: 18px;
      text-transform: uppercase;
      font-family: p.$heading-font-family;
      color: p.$primary-color;
      margin-bottom: 15px;
    }
    
    .details-text p{
      font-size: 14px;
    }
    
    .detail-box .details-text > div.active {
      top:0px;
    
    }
    
    .detail-box .menu-title div i {
      display:inline-block;
      margin-left:10px;
      margin-right:5px;
    }
    
  

    //GALLERY
  
    .gallery-images {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 400px;
    }

    .gallery {
      flex: 1;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transition: flex 0.7s ease;
      border: solid;
      border-color: #ff4823;
      
      &:hover{
        flex: 5;
      }
    }

      //Wireframe 

      #buttons-wireframes{
        margin-top: 30px;
        margin-bottom: 10px;
      }

      #buttons-wireframes button{
        width: 200px;
      }
  
  
  }





  @media screen and (min-width:1200px){


        //Languages
        .text-process h3{
          font-size: 50px;
        }

        .text-process ul li{
          font-size: 15px;
        }



       
        //Details

        #section-info-details{
              margin-top: 30px;
        }


        .detail-box{
          height: 290px;
        }
    

        .detail-box .menu-title {
          width:200px;
        }



        .detail-box .menu-title > div {
          height:60px;
          font-size:20px;
        }




        .details-text h3{
          font-size: 30px;
          margin-bottom: 20px;
        }

        .details-text p{
          font-size: 18px;
        }

        //Wireframe

        #buttons-wireframes  button{
          font-size: 40px;
          width: 214px;
          height: 63px;
          margin-left: 10px;
        }

    
   
      
  }

  
  @media screen and (min-width:1920px){

    
        //Role
        .text-process h3{
          font-size: 70px;
        }

        .text-process ul li{
          font-size: 20px;
        }



        //Details of project

        .detail-box{
          height: 620px;
          margin-bottom: 100px;
        }
    

        .detail-box .menu-title {
          width:350px;
        }



        .detail-box .menu-title > div {
          height:100px;
          font-size:34px;
        }


        .details-text h3{
          font-size: 60px;
          margin-bottom: 30px;
        }

        .details-text p{
          font-size: 28px;
          line-height: 50px;
        }

        //Wireframe

        #buttons-wireframes  button{
        font-size: 50px;
        width: 300px;
        height: 94px;
        margin-left: 10px;
  }
  
}

