@use '../abstracts/variables' as r;


#received-html{
    padding: 0;
}

#received-html {
    display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: r.$secondary-color;
      padding: 5px;
      box-sizing: border-box;
  }

#text-received-html{
    padding-top: 250px;
    text-align: center;
}

#received-html h2{
    font-size: 53px;
}


#received-html h3{
    font-size: 28px;
    color: r.$body-text-color;
    font-family: r.$heading-font-family;
}

#received-html span{
    color: r.$body-text-color;
    font-size: 50px;
    float: right;
}

#close-received-html:hover,
#close-received-html:focus {
    color: r.$primary-color;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:768px){

    #text-received-html{
        padding-top: 200px;
    }

    #received-html h2, #received-html h3{
        font-size: 61px;
    }


}

@media screen and (min-width:1200px){

    #received-html h2, #received-html h3{
        font-size: 80px;
    }

    #received-html span{
        font-size: 100px;
    }

}

@media screen and (min-width:1920px){

    #received-html h2, #received-html h3{
        font-size: 120px;
    }

    #received-html span{
        font-size: 150px;
    }

}