@use '../abstracts/variables' as r;

:root {
  --plyr-color-main:  #CF0A0A;
  --plyr-control-icon-size: 21px;
  --plyr-control-radius: 23px;
  --plyr-font-family: 'Oswald', sans-serif;
  --plyr-controls-spacing: 21px;
}

#reel-project{
  padding: 0;
}
#player-container{
  margin-bottom: 60px;
}